{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SESSION
  {{ sesh | safe }}
  -->

  <title>My LHP Homepage</title>

  <meta name="theme-color" content="{{ primary }}">
  <link rel="icon" href="{% url 'favicon' %}?primary={{ primary | urlencode }}&secondary={{ secondary | urlencode }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>


  <script src="{% static 'app/jparticles.all.js' %}"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <script>
      const months = ["Jan", "Feb", "March", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
      const days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"]
      let reloading = false;

      function updateTime() {
          var date = new Date();
          $('#hour').html(date.getHours())
          $('#minute').html(date.getMinutes().toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false}))
          $('#second').html(date.getSeconds().toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false}))

          $('#weekday').html(days[date.getDay()])
          $('#month').html(months[date.getMonth()])
          $('#day').html(date.getDate())
      }

      function get_fling() {
          $.get("{% url 'fling' %}", function (data) {
              $("#fling_content").html(data)
          }).fail(function () {
              $("#fling_container").hide()
          })
      }

      function get_lunch() {
          $.get("{% url 'lunch' %}", {
              "grade": {{ grade }},
          }, function (data) {
              $("#lunch_content").html(data)
          }).fail(function () {
              $("#lunch_container").hide()
          })
      }

      function get_notif() {
          $.get("{% url 'notif' %}", function (data) {
              $("#notif_container").html(data)
          }).fail(function (obj) {
              if (obj.status == 403 && !reloading) {
                  reloading = true;
                  location.reload()
              }
          })
      }

      function get_grades() {
          $.get("{% url 'grades' %}", function (data) {
              $("#grades_container").html(data)
          }).fail(function (obj) {
              if (obj.status == 403 && !reloading) {
                  reloading = true;
                  location.reload()
              }
          })
      }

      function get_todo() {
          $.get("{% url 'todo' %}", function (data) {
              $("#todo_container").html(data)
          }).fail(function (obj) {
              if (obj.status == 403 && !reloading) {
                  reloading = true;
                  location.reload()
              }
          })
      }

      function get_missing() {
          $.get("{% url 'missing' %}", function (data, textStatus, jqXHR) {
              if (jqXHR.status == 204) {
                  $("#missing_card").hide()
              }

              $("#missing_container").html(data)
          }).fail(function (obj) {
              if (obj.status == 403 && !reloading) {
                  reloading = true;
                  location.reload()
              }
          })
      }

      {% if ai_enabled %}
          function get_ai_summary() {
              $.get("{% url 'ai_summary' %}", function (data) {
                  $("#ai_container").show()
                  $("#ai-summary").html(data)
                  $("#ai-spinner").hide()
              }).fail(function (obj) {
                  $("#ai_container").hide()
              })
          }
      {% endif %}

      function all_long_running() {
          get_fling()
          get_lunch()

          if ({{ canvas_authed | lower }}) {
              get_notif()
              get_grades()
              get_todo()
              get_missing()
          }

          {% if ai_enabled %}
              get_ai_summary()
          {% endif %}

          setTimeout(all_long_running, 1000 * 60 * 5);
      }

      function palette(color1, color2) {
          $("#color_primary").val(color1)
          $("#color_secondary").val(color2)
      }

      function swap_colors() {
          let color1 = $("#color_primary").val()
          let color2 = $("#color_secondary").val()

          $("#color_primary").val(color2)
          $("#color_secondary").val(color1)
      }

      $(function () {
          {% if background == "particle" %}
              new JParticles.Particle('#main', {
                  color: ['{{ primary }}'],
                  lineShape: 'spider',
                  range: 2000,
                  proximity: 100,
                  lineWidth: 1,
                  // Turn on parallax effect
                  parallax: false,  //TODO: Fix
                  num: 0.15,
                  minSpeed: 0.01,
                  maxSpeed: 0.2
              });
          {% elif background == "wave" %}
              new JParticles.Wave('#main', {
                  num: 10,
                  // Draw line
                  line: true,
                  // The colors of the three lines in sequence
                  lineColor: [
                      "{{ primary }}ff",
                      "{{ primary }}dd",
                      "{{ primary }}bb",
                      "{{ primary }}99",
                      "{{ primary }}66",
                      "{{ primary }}55",
                      "{{ primary }}44",
                      "{{ primary }}33",
                      "{{ primary }}22",
                      "{{ primary }}11",
                  ],
                  // The width of the three lines in turn
                  lineWidth: 2,
                  // The offset value of the three lines from the left in turn
                  offsetLeft: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0],
                  // All three lines are 0.75 times the height of the top offset container
                  offsetTop: 0.6,
                  // The height of the crests of the three lines in sequence
                  crestHeight: [100, 120, 140, 160, 180, 200, 220, 240, 260, 280],
                  // All three lines have only two crests
                  crestCount: 2,
                  speed: [0.025, 0.0225, 0.02, 0.0175, 0.015, 0.0125, 0.01, 0.0075, 0.005, 0.0025],
              })
          {% elif background == "snow" %}
              new JParticles.Snow('#main', {
                  color: "{{ primary }}"
              })
          {% elif background == "line" %}
              new JParticles.Line('#main', {
                  num: 20,
                  color: [
                      "{{ primary }}ff",
                      "{{ primary }}dd",
                      "{{ primary }}bb",
                      "{{ primary }}99",
                      "{{ primary }}66",
                      "{{ primary }}55",
                      "{{ primary }}44",
                      "{{ primary }}33",
                      "{{ primary }}22",
                      "{{ primary }}11",
                  ]
              })
          {% endif %}

          updateTime()
          all_long_running()

          setInterval(function () {
              updateTime()
          }, 100);

          if ({{ grade }} == 0) {
              const gradeModal = new bootstrap.Modal('#gradeModal', {
                  keyboard: false,
                  backdrop: "static"
              })

              gradeModal.show()
          }
      })
  </script>

  <style>
      body {
      {% if secondary.lower == '#8ace00' %}
          font-family: "Arial Narrow", "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
          ;
          filter: blur(0.7px);
          text-transform: lowercase;
      {% else %}
          font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
          ;
      {% endif %}
          background-color: {{ secondary }};
      }

      body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, tr, td, th, details, summary {
          color: {{ bw }} !important;
      }

      a:not(.btn) {
          color: {{ primary }};
      }

      a:visited {
          filter: brightness(80%);
      }

      .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
          background-color: {{ primary }} !important;
          color: {{ pri_bw }} !important;
          border-color: {{ primary }};
      }

      .card {
      {% if dark %}
          background: rgba(0, 0, 0, 0.3);
      {% else %}
          background: rgba(255, 255, 255, 0.3);
      {% endif %}
          backdrop-filter: saturate(180%) blur(5px);

          margin-bottom: 16px;
      }

      .modal-content {
          background-color: {{ secondary }};
      }

      .time {
          font-size: 5rem;
          font-weight: bold;
      }

      .table tr th, .table tr td {
          background-color: transparent;
          color: {{ bw }};
      }

      .accordion-header, .accordion-button, .accordion-button:not(.collapsed) {
          background-color: {{ secondary }};
          color: {{ bw }};
      }

      .accordion-button.collapsed::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      }

      .accordion-button:not(.collapsed)::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e")
      }

      .accordion-item {
          background-color: transparent;
          color: {{ bw }};
      }

      #notif_container img {
          max-width: 100%;
      }

      #ai-summary li {
          margin-bottom: 0.5rem;
      }

      .fab {
          position: fixed;
          bottom: 20px;
          right: 20px;
          width: 56px;
          height: 56px;
          background-color: {{ primary }};
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          color: {{ secondary }} !important;
          font-size: 24px;
          cursor: pointer;
          transition: filter 0.3s;
      }

      .fab:hover {
          filter: brightness(120%);
      }
  </style>


  <!-- Matomo -->
  <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['setCustomDimension', 1, '{{ grade }}']);
      _paq.push(['setCustomDimension', 2, '{{ canvas_authed }}']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
          var u = "//aa.canora.us/";
          _paq.push(['setTrackerUrl', u + 'matomo.php']);
          _paq.push(['setSiteId', '2']);
          var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
          g.async = true;
          g.src = u + 'matomo.js';
          s.parentNode.insertBefore(g, s);
      })();
  </script>
  <!-- End Matomo Code -->


</head>
<body class="">
<div id="main" style="position:fixed; height: 100%; width: 100%; z-index: -9999;"></div>
<main class="container-fluid">
  <div>
    <div class="row my-3">
      <div class="col-12 col-lg-3 order-2 order-lg-1">
        <div class="card">
          <div class="card-body">
            <h2>Today's Info</h2>
            <hr/>
            <div class="accordion" id="todayAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Bell Schedule
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#todayAccordion">
                  <div class="accordion-body">
                    {% if bells %}
                      <h6 style="text-align: center">{{ schedule_name }}</h6>
                      <table class="table table-bordered schedule">
                        {% for entry in bells %}
                          <tr>
                            <th>{{ entry.0 }}</th>
                            <th>{{ entry.1 }} - {{ entry.2 }}</th>
                          </tr>
                        {% endfor %}
                      </table>
                    {% elif special_schedule_link %}
                      <p><a href="{{ special_schedule_link }}" target="_blank">Click Here to see Today's Schedule</a>
                      </p>
                    {% else %}
                      {% if weekend %}
                        <p>Happy Weekend!</p>
                      {% else %}
                        <p>Not available today...</p>
                        <p>Check the student hub!</p>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="accordion-item" id="fling_container">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Fling Menu
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#todayAccordion">
                  <div class="accordion-body" id="fling_content">
                    Loading...
                  </div>
                </div>
              </div>
              <div class="accordion-item" id="lunch_container">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Lunch Menu
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#todayAccordion">
                  <div class="accordion-body" id="lunch_content">
                    Loading...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <h1 id="date">
              <span id="weekday"></span>,
              <span id="month"></span>
              <span id="day"></span>
            </h1>
            <h1 id="time" class="time">
              <span id="hour"></span>:<span id="minute"></span><span style="color: #808080">:<span
                    id="second"></span></span>
            </h1>

            {% if countdown %}
              <h5 class="text-center">{{ countdown.user_string }}</h5>
            {% endif %}
          </div>
        </div>
        {% if ai_enabled %}
          <div class="card" id="ai_container">
            <div class="card-body">
              <div class="d-flex w-100 justify-content-between">
                <h2>Today's Summary</h2>
                <p class="text-end small mb-0" style="color: #808080 !important;">AI Summary might get things
                  wrong.<br/>Problems? Contact Tr. Canora.</p>
              </div>
              <hr/>
              <p id="ai-summary" class=""></p>
              <div class="spinner-border" role="status" id="ai-spinner">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        {% endif %}
        {% if canvas_authed %}
          <div class="card">
            <div class="card-body">
              <h2>Canvas Activity Feed</h2>
              <hr style="margin-bottom: 0"/>
              <div id="notif_container">
                Loading...
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-12 col-lg-3 order-3">
        {% if canvas_authed %}
          <div class="card">
            <div class="card-body">
              <h2>To Do</h2>
              <hr/>
              <div id="todo_container">Loading...</div>
            </div>
          </div>
          <div class="card" id="missing_card">
            <div class="card-body">
              <h2>Missing</h2>
              <hr/>
              <div id="missing_container">Loading...</div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h2>Grades</h2>
              <hr/>
              <details>
                <summary>Click Here to Reveal</summary>
                <br/>
                <div id="grades_container">Loading...</div>
              </details>
            </div>
          </div>
        {% else %}
          <div class="card">
            <div class="card-body">
              <h2>Log In</h2>
              <p>Want to get the most out of this page?</p>
              <p>Sign in with Canvas to see:</p>
              <ul>
                <li>Upcoming Assignments</li>
                <li>Recent Feedback</li>
                <li>Grades</li>
                <li>Other Canvas Notifications</li>
              </ul>
              <h4 class="text-center">
                <a href="https://lhps.instructure.com/login/oauth2/auth?client_id=75360000000000229&response_type=code&purpose=dash.canora.us&redirect_uri={{ host }}/canvas/oauth&scope={{ scopes }}">
                  Click Here to Sign In Now
                </a>
              </h4>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="fab" data-bs-toggle="modal" data-bs-target="#myModal">
    <i class="fas fa-cog"></i>
  </div>

  <div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'config' %}">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4>Color Palettes</h4>
            <div style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; row-gap: 6px">
              <a href="#" class="btn mx-1" style="background-color: #212137; color: #c3002f; border-color: white"
                 onclick="palette('#c3002f', '#212137')">Default</a>
              <a href="#" class="btn mx-1" style="background-color: #ffffff; color: #FF9999; border-color: black"
                 onclick="palette('#FF9999', '#ffffff')">Peachy</a>
              <a href="#" class="btn mx-1" style="background-color: #000000; color: #62CCEA; border-color: white"
                 onclick="palette('#62CCEA', '#000000')">Buragadda</a>
              <a href="#" class="btn mx-1" style="background-color: #8ACE00; color: black; border-color: black"
                 onclick="palette('#000000', '#8ACE00')">Brat</a>
              <a href="#" class="btn mx-1" style="background-color: black; color: #4af626; border-color: white"
                 onclick="palette('#4af626', '#000000')">Terminal</a>
              <a href="#" class="btn mx-1" style="background-color: #363535; color: #F5825B; border-color: white"
                 onclick="palette('#F5825B', '#363535')">Volcano</a>
              {#              <a href="#" class="btn mx-1" style="background-color: #1a1a1a; color: #ff7518; border-color: white"#}
              {#                 onclick="palette('#ff7518', '#1a1a1a')">Hallow</a>#}
              <a href="#" class="btn mx-1" style="background-color: #311834; color: #b06fb8; border-color: white"
                 onclick="palette('#b06fb8', '#311834')">Bekka</a>
              <a href="#" class="btn mx-1" style="background-color: #F0EDCC; color: #021f26; border-color: black"
                 onclick="palette('#021f26', '#F0EDCC')">Bookish</a>
              <a href="#" class="btn mx-1" style="background-color: #660a20; color: #e9877e; border-color: white"
                 onclick="palette('#e9877e', '#660a20')">Red-y For It</a>
              <a href="#" class="btn mx-1" style="background-color: #4294FF; color: #F7F7F9; border-color: black"
                 onclick="palette('#F7F7F9', '#4294FF')">Tod</a>
              <a href="#" class="btn mx-1" style="background-color: #00330f; color: #FFCF4D; border-color: white"
                 onclick="palette('#FFCF4D', '#00330f')">Lalwani</a>
              <a href="#" class="btn mx-1" style="background-color: #F7F7F9; color: #D2302C; border-color: black"
                 onclick="palette('#D2302C', '#F7F7F9')">Candy Cane</a>
              <a href="#" class="btn mx-1" style="background-color: #070952; color: #ef4da0; border-color: white"
                 onclick="palette('#ef4da0', '#070952')">NavyPink</a>
              <a href="#" class="btn mx-1" style="background-color: #ed6f63; color: #2D2926; border-color: white"
                 onclick="palette('#2D2926', '#ed6f63')">Salmo Salar</a>
            </div>
            <hr/>
            <h4>Custom Color</h4>
            <div class="row">
              <div class="col-5">
                <h5>Primary Color</h5>
                <input type="color" class="form-control form-control-color" name="primary" id="color_primary"
                       value="{{ primary }}" style="width: 100%">
              </div>
              <div class="col-2 px-0" style="position:relative;">
                <a class="btn btn-secondary" onclick="swap_colors()" href="#"
                   style="position:absolute; bottom: 0; width: 100%">Swap</a>
              </div>
              <div class="col-5">
                <h5>Background Color</h5>
                <input type="color" class="form-control form-control-color" name="secondary" id="color_secondary"
                       value="{{ secondary }}" style="width: 100%">
              </div>
            </div>
            <p class="text-center mt-3">
              <small>
                Find a good combo? Let Tr. Canora know!<br/>
                It might get added to the palettes above.
              </small>
            </p>
            <hr/>
            <h4>Background Type</h4>
            <select name="background" class="form-control custom-select">
              <option value="none" {% if background == "none" %}selected{% endif %}>None</option>
              <option value="particle" {% if background == "particle" %}selected{% endif %}>Spiderweb</option>
              <option value="wave" {% if background == "wave" %}selected{% endif %}>Wave</option>
              <option value="snow" {% if background == "snow" %}selected{% endif %}>Snow</option>
              <option value="line" {% if background == "line" %}selected{% endif %}>Line</option>
            </select>
            <hr/>
            <h4>Grade</h4>
            <select name="grade" class="form-control custom-select">
              <option value="7" {% if grade == 7 %}selected{% endif %}>7th Grade</option>
              <option value="8" {% if grade == 8 %}selected{% endif %}>8th Grade</option>
              <option value="9" {% if grade == 9 %}selected{% endif %}>9th Grade</option>
              <option value="10" {% if grade == 10 %}selected{% endif %}>10th Grade</option>
              <option value="11" {% if grade == 11 %}selected{% endif %}>11th Grade</option>
              <option value="12" {% if grade == 12 %}selected{% endif %}>12th Grade</option>
            </select>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-primary" href="{% url 'reset' %}">Reset Settings</a>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="gradeModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'config' %}">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Grade</h5>
          </div>
          <div class="modal-body">
            <h2>What grade are you in?</h2>
            <select name="grade" class="form-control custom-select">
              <option value="7">7th Grade</option>
              <option value="8">8th Grade</option>
              <option value="9">9th Grade</option>
              <option value="10">10th Grade</option>
              <option value="11">11th Grade</option>
              <option value="12">12th Grade</option>
            </select>

            <button class="btn btn-primary mt-3">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
</body>
</html>