{% if todo %}
  <table class="table todo">
    {% for item in todo %}
      <tr>
        <td>
          <p style="margin-bottom: 2px;">{{ item.course }}</p>
          <p style="margin-bottom: 2px; font-weight: bolder">{{ item.assignment.name }}</p>

          {% if item.assignment.due_at %}
            <p style="margin-bottom: 0">Due {{ item.assignment.due_at }}</p>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>Nothing left to do?</p>
  <p>Give yourself a pat on the back!</p>
{% endif %}