{% if notifications %}
  <table class="table">
    {% for notif in notifications %}
      <tr>
        <td>
          {% if notif.course %}
            <p style="margin-bottom: 2px"><b>{{ notif.course }}</b></p>
          {% endif %}

          {% if notif.type == "Announcement" %}
            <details>
              <summary>
                <a href="{{ notif.html_url }}" target="_blank">{{ notif.title }}</a>
              </summary>
              <p>{{ notif.message | safe }}</p>
            </details>
          {% else %}
            <a href="{{ notif.html_url }}" target="_blank">{{ notif.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p style="margin-top: 16px">Nothing left to see here!</p>
{% endif %}